:root {
  --blur: 30px;
}

* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
}

:lang(kr) {
  font-family: 'Gothic A1', sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: grey;
}

header {
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

header > * {
  font-size: 15px;
  margin: 0 20px;
  border-bottom: 3px solid rgb(236, 223, 191);
}

#infomation {
  color: grey;
}

#controls-wapper {
  flex: 0 0 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#controls {
  display: flex;
  margin-bottom: 10px;
}

.label {
  color: rgb(89, 66, 32);
  margin: 0 10px;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.15s;
}

#photo-wrapper {
  flex: 1 1 700px;
  display: flex;
  height: 80vh;
}

.photo {
  flex-basis: 20%;
  display: flex;
  overflow: hidden;
  transition: all 0.7s cubic-bezier(0, 1, 0, 1);
}

.photo img {
  flex: 1 1 auto;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  filter: blur(30px);
}

.photo.open {
  flex-basis: 100%;
}

.photo.open > * {
  filter: blur(var(--blur));
}
      
footer {
  flex: 1 1 30px;
  background-color: rgb(205, 190, 152);
}