:root {
  --blur: 30px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
}

:lang(kr) {
  font-family: 'Gothic A1', sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

a {
  text-decoration: none;
  color: grey;
}

header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

header > * {
  font-size: 15px;
  margin: 0 20px;
  border-bottom: 3px solid rgb(236, 223, 191);
}

#infomation {
  color: grey;
}

#controls-wapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 110px;
          flex: 0 0 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.label {
  color: rgb(89, 66, 32);
  margin: 0 10px;
  font-size: 20px;
  font-weight: 600;
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}

#photo-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 700px;
          flex: 1 1 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
}

.photo {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-transition: all 0.7s cubic-bezier(0, 1, 0, 1);
  -o-transition: all 0.7s cubic-bezier(0, 1, 0, 1);
  transition: all 0.7s cubic-bezier(0, 1, 0, 1);
}

.photo.mouse {
  outline: none;
}

.photo img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  -webkit-filter: blur(30px);
          filter: blur(30px);
}

.photo.open {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.photo.open > * {
  -webkit-filter: blur(var(--blur));
          filter: blur(var(--blur));
}
      
footer {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20px;
          flex: 1 1 20px;
  background-color: rgb(205, 190, 152);
}