* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  flex: 1;
}

#controls-wapper {
  flex-basis: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#controls {
  display: flex;
}

#photo-wrapper {
  flex-basis: 700px;
  display: flex;
  height: 80vh;
}

.photo {
  flex-basis: 20%;
  display: flex;
  overflow: hidden;
  margin: 0 0.5px;
}

.photo img {
  flex: 1 1 auto;
  height: 100%;
  object-fit: scale-down;
  transform: translateX(-35%);
}

footer {
  flex: 1;
}
